.addtoany_shortcode{
	padding: 10px 0;
	.addtoany_list {
		a{ line-height: 15px!important; }
	}
	.a2a_kit {
		.a2a_svg{
			width:32px!important;
			height:32px!important;
			border-radius:50%!important;
			svg{
				width: 32px!important;
				height: 24px!important;
				top: 4px!important;
			}
			&.a2a_s_google_plus{
				svg{
					left: 1px!important;
				}
			}
			&.a2a_s_linkedin{
				svg{
					top: 3px!important;
				}
			}
		}	
	}	
}