//
// _badge
//
// ********************************************************************************************************************************


// Variables
// *************************************




// Base
// *************************************
.#{$namespace}badge {
	position: relative;
	display:table;
	padding:5px 10px;
	color:#fff;
	font-size:14px;
	background:map-get($ui-colors, primary);
	text-shadow:none;
	text-decoration:none;
	font-weight: normal;
}




// Themes
// *************************************



// Functions
// *************************************


