//
//
// _banner
//
// ********************************************************************************************************************************

.#{$namespace}banner {
	padding-top:92px;
	padding-bottom: 40px;
	padding-left:120px;
	padding-right:120px;
	background:url('../images/banner.jpg') no-repeat top center;
	background-size:cover;
	@include media-breakpoint-down(sm) {
		padding:70px 20px 20px 20px;
	}
}