//
//
// _banner
//
// ********************************************************************************************************************************

.#{$namespace}banner {
	min-height:400px;
	background:url('../images/banner.jpg') no-repeat top center;
	background-size:cover;
}