//
// _button
//
// Default button styles
// ********************************************************************************************************************************


// Variables
// *************************************
$button-hp: 14px !default; // Left/Right paddings
$button-vp: 40px !default; // Top/Bottom paddings



// Base
// *************************************
.#{$namespace}button {
	position: relative;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: normal;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
	align-self:baseline;

	padding: $button-hp $button-vp;
	color: map-get($ui-colors, primary-medium);
	border:0;
	text-transform:uppercase;
	font-size:12px;
	font-weight:800;

	background-color:map-get($ui-colors, primary-light);

	@include do-fx(
		background-color 0.25s linear
	);
	&:hover {
		background-color:map-get($ui-colors, primary);
	}

	&-c {
		background-color:map-get($ui-colors, green);
		&:hover {
			background-color:map-get($ui-colors, green-hover);
		}
	}
}

a.#{$namespace}button {
	text-decoration: none;
}



// Themes
// *************************************
.#{$namespace}button-outline {
	border:2px solid #fff;
}
.#{$namespace}button-outline-b {
	border-color:$ui-text-color;
	color:$ui-text-color;
}




// Functions
// *************************************
// Button full : Full width buttons
.#{$namespace}button-full {
	display: block;
	width: 100%;
}

// Button primes : Larger padding buttons
.#{$namespace}button-prime {
	padding: $button-hp*2 $button-vp*2;
}

// Button mini : Smaller padding buttons
.#{$namespace}button-mini {
	padding: $button-hp/2 $button-vp/2;
}

// Button with SVG icon
.#{$namespace}button-has-svg-icon {
	display:flex;
	align-items:center;
	justify-content:center;
	.#{$namespace}icon {
		width:25px;
		height:25px;
	}
}


// Other
// *************************************
.#{$namespace}button-group {
	> .#{$namespace}button {
		float: left;
	}
	@extend %clearfix;
}


// Make button full from X breakpoints
@mixin do-button-full($breakpoints: $grid-breakpoints) {
	@each $breakpoint in map-keys($breakpoints) {
		@include media-breakpoint-up($breakpoint) {
			.#{$namespace}button-full-#{$breakpoint} {width:100%;}
		}
	}
}
@include do-button-full();



