//
// _card
//
// ********************************************************************************************************************************


// Variables
// *************************************




// Base
// *************************************
.#{$namespace}card {
    position:relative;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
    border-radius:10px;
    transition:all 0.5s ease;
    box-shadow:1px 1px 10px rgba(0,0,0,0.1);
    .#{$namespace}pricing & {
        align-items:stretch;
        background:#fff;
        &-header {
            padding:20px;
            border-bottom:1px solid #ccc;
            .#{$namespace}paragraph {
                margin-bottom:0;
            }
        }
        &-body {
            padding:20px 40px;
        }
        &-footer {
            padding:20px;
            
        }
    }
    .swiper-slide & {
        padding:30px 10px;
        border:1px solid #ccc;
        font-size:18px;
        color:map-get($ui-colors, broid-blue);
        font-weight:400;
        img {
            width:85px;
            height:100px;
            margin-bottom:10px;
            @include media-breakpoint-down(md) {
                height:50px;
                width:50px;
            }
        }
    }
    .swiper-slide-active & {
    	border-color:map-get($ui-colors, broid-blue);
    }

    &-testimonial {
        padding:20px;
        border:1px solid map-get($ui-colors, broid-blue);
        img {
            width:80px;
            height:80px;
            border-radius:50%;
            overflow:hidden;
            margin-right:10px;
        }
        &-icon {
            position:absolute;
            top:-25px;
            right:30px;
            img {
                width:58px;
                height:58px;
            }
        }
        @include media-breakpoint-down(xs) {
            
        }
    }
    &-team {
        margin-bottom:20px;
        padding:30px 20px;
        img {
            width:150px;
            height:150px;
            border-radius:50%;
            overflow:hidden;
            margin-bottom:20px;
        }
        .#{$namespace}social {
            padding-top:20px;
            a {
                display:inline-block;
                margin-right:30px;
                padding-right:30px;
                border-right:1px solid #ccc;
                &:last-child {
                    margin-right:0;
                    padding-right:0;
                    border-right:none;
                }
            }
            .#{$namespace}icon {
                width:25px;
                height:25px;
                &-facebook {
                    fill:#3b5998;
                }
                &-linkedin {
                    fill:#0077b5;
                }
                &-github {
                    fill:#000;
                }
                &-twitter {
                    fill:#00aced;
                }
            }
        }
        @include media-breakpoint-down(xs) {
            
        }
    }
    &-channel {
        height:100%;
        margin-bottom:20px;
        padding:30px 20px;
        border:1px solid #ccc;
        justify-content:flex-start;
        img {
            width:150px;
            height:150px;
            margin-bottom:20px;
            @include media-breakpoint-down(md) {
                width:120px;
                height:120px;
            }
        }
        .#{$namespace}paragraph {
            font-size:18px;
            color:map-get($ui-colors, broid-blue);
        }
        .#{$namespace}regular {
            margin-bottom:0;
        }
        @include media-breakpoint-down(xs) {
            text-align:left;
            flex-direction:row;
            justify-content:baseline;
            img {
                margin-bottom:0;
                margin-right:20px;
            }
            .#{$namespace}regular {
                display:none;
            }
        }
        &:hover {
            cursor:pointer;
            background:#fff;
            border:1px solid map-get($ui-colors, broid-blue);
            box-shadow:1px 1px 10px map-get($ui-colors, broid-blue);
        }
    }
}


// Themes
// *************************************



// Functions
// *************************************


