//
// _card
//
// ********************************************************************************************************************************


// Base
// *************************************
.#{$namespace}card {
	position:relative;
	display:flex;
	margin-bottom:$padding;
	padding:$padding;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	border-radius:5px;
	box-shadow:0px 0px 1px rgba(0,0,0,0.2);
	background:#fff;
	p {
		display:block;
		margin:0;
		color:map-get($ui-colors, secondary-medium);
		font-weight:300;
		&.#{$namespace}card-title {
			margin-bottom:$padding;
			color:map-get($ui-colors, primary-light);
			font-size:24px;
		}
	}
	&.#{$namespace}background-primary-light {
		p {
			color:#fff !important;
		}
	}
}