//
// _footer
//
// ********************************************************************************************************************************

.#{$namespace}page-footer {
	p, a {
		color:#fff;
		font-size:16px;
		text-decoration:none;
		strong {
			font-size:18px;
			font-weight:800;
		}
	}

	.#{$namespace}page-footer-copyright {
		font-size:12px;
		margin: 30px 0;
		text-transform:uppercase;
	}
}