body {
	background:map-get($ui-colors, secondary-light);
}

.#{$namespace}brand {
	display:flex;
	align-items:center;
	justify-content:center;
	svg {
		filter: drop-shadow(1px 1px 7px rgba(#000,0.6));
	}
}