body {}

.#{$namespace}page-body {
	xpadding-top:100px;
	.#{$namespace}banner {
		&:first-child {
			padding-top:100px;
		}
	}
}

.#{$namespace}to-background-hover {
	background:map-get($ui-colors, background-hover);
}
.#{$namespace}to-background-ocean {
	background:map-get($ui-colors, background-ocean);
}

.#{$namespace}border-top-white {
	border-top:1px solid rgba(#fff, 0.5);
}

.#{$namespace}support {
	img {
		@include media-breakpoint-down(md) {
			margin-bottom:20px;
		}
	}
}

.#{$namespace}channels {
	.col-sm-6, .col-md6 {
		margin-bottom:20px;
	}
}

.row {
	&-team {
		display:flex;
		justify-content:center;
	}
}

.#{$namespace}page-body {
	.#{$namespace}banner {
		&:not(.#{$namespace}banner-no-extra-padding-top) {
			&:nth-child(1) {
				//padding-top:20%;
			}
		}	
	}
}

.#{$namespace}line {
	margin:60px 0;
	i {
		display:table;
		margin:0 auto;
		width:120px;
		height:1px;
		background:#fff;
	}
	@include media-breakpoint-down(xs) {
		margin:20px 0;
	}
}

.#{$namespace}separator {
	display:flex;
	align-items:center;
	justify-content:center;
	i {
		position:relative;
		display:inline-block;
		width:8px;
		height:8px;
		border-radius:50%;
		background:map-get($ui-colors, broid-blue);
		&:before, &:after {
			position:absolute;
			content:'';
			display:block;
			width:8px;
			height:8px;
			border-radius:50%;
			background:map-get($ui-colors, broid-blue);
		}
		&:before {
			left:-15px;
		}
		&:after {
			left:15px;
		}
	}
}

.#{$namespace}faq {
	position:relative;
	.#{$namespace}icon {
		position:absolute;
		left:0;
		top:7px;
		width:17px;
		height:15px;
		fill:map-get($ui-colors, broid-blue);
		transform:rotate(180deg);
		transition:transform 0.5s ease;
	}
	&.is-active {
		.#{$namespace}icon {
			transform:rotate(0deg);
		}
	}
}