//
// _header
//
// ********************************************************************************************************************************

.#{$namespace}page-header {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:52px;
	background:rgba(#000, 0.6);
	z-index:10;
	transition:background 0.5s ease;
	.#{$namespace}brand {
		opacity:0;
		transition:opacity 0.5s ease;
	}
	.#{$namespace}page-wrap {
		position:relative;
	}
	&.is-floating {
		background:map-get($ui-colors, primary);
		@include media-breakpoint-down($ui-mobile-nav-breakpoint) {
			.#{$namespace}brand {
				opacity:1;
			}
		}	
	}
	.#{$namespace}brand {
		position:absolute;
		left:50%;
		margin-left:-32px;
		.#{$namespace}icon {
			width:65px;
			height:50px;
			filter:none;
		}
	}
}
