//
// _icons
//
//
// ********************************************************************************************************************************

/* TODO Conditional import doesn't work with SASS */
/*@if ($has-font-awesome){*/
//@import "../../../../node_modules/font-awesome/scss/font-awesome";
/*}*/

svg.#{$namespace}icon {
	overflow: hidden;
	display: inline-block;
}

.#{$namespace}icon-shield {
	fill:#fff;
}
