//
// _modules
//
// If using all the modules of the UI, simply use this file to import all of them.
// Otherwise import the required module separately.
// ********************************************************************************************************************************

@import "general";
@import "page";
@import "flex";
@import "grid";

@import "swiper";
@import "header";
@import "banner";
@import "button";
@import "search";
@import "navigation";
@import "partner";
@import "section";
@import "quote";
@import "tip";
@import "media";
@import "tabs";
@import "typography";
