//
// _button
//
// Default button styles
// ********************************************************************************************************************************


// Variables
// *************************************


// Base
// *************************************
.#{$namespace}newsletter-list{
	padding-top: 15px;
	padding-bottom: 15px;
	background: map-get( $ui-colors, white );
	margin: 15px auto;
	a{ text-decoration: none; }
	.#{$namespace}content{
		a{ color: map-get( $ui-colors, black ); 
			&.#{$namespace}readmore{
				color: map-get( $ui-colors, primary-light );
				font-weight: bolder;
				&:hover{ color: map-get( $ui-colors, primary ); }
			}
		}
	}
}

// Functions
// *************************************
// 

// Other
// *************************************