//
// _quote
//
// ********************************************************************************************************************************


// Variables
// *************************************



// Base
// *************************************
.#{$namespace}quote {
	position: absolute;
	left:0;
	top:36px;
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
	background:rgba(233,233,233,0.7);
	z-index:2;
	.#{$namespace}button {
		margin-right:40px;
		&:after {
			position:absolute;
			content:'';
			top:15%;
			right:-44px;
			display:inline-block;
			width:1px;
			height:70%;
			margin:0 20px;
			background:#000;
		}
	}
	.#{$namespace}phone-number {
		margin-left:20px;
	}
	@include media-breakpoint-down(md) {
		top:0;
	}
	@include media-breakpoint-down(sm) {
		position:relative;
		left:auto;
		top:auto;
		padding-top:10px;
		padding-bottom:10px;
		background:map-get($ui-colors, super-light-grey);
	}
}
.#{$namespace}single-post, .#{$namespace}newsletter-page{
	.#{$namespace}quote {
		position: relative;
		top: auto;
		margin-top: 36px;	
		@include media-breakpoint-down(md){
			margin-top: 0;
		}
	}
}
