//
// _quote
//
// ********************************************************************************************************************************


// Variables
// *************************************



// Base
// *************************************
.#{$namespace}quote {
	position:relative;
	margin-right:$padding;
	margin-left:$padding;
	background:#fff;
	border-radius:5px;
	box-shadow:1px 1px 1px rgba(0,0,0,0.4);
	transform:rotate(-4deg);
	left:-2px;

	@include media-breakpoint-up(xs) {
		margin-bottom: 40px;

		&.last {
			margin-bottom: 0;
			margin-top: 30px;
		}
	}

	@include media-breakpoint-up(lg) {
		margin-bottom:60px;
	}
	@include media-breakpoint-down(sm) {
		margin-right:20px;
		margin-left:20px;
		margin-bottom:60px;
		transform:rotate(-3deg);
	}
	&-icon {
		position:absolute;
		top:-18px;
		left:-25px;
		svg {
			width:65px;
			height:50px;
			fill:map-get($ui-colors, primary-light);
		}
		&-right {
			top:auto;
			left:auto;
			bottom:-18px;
			right:-25px;
			transform:rotate(180deg);
		}
	}
	p {
		font-size:18px;
		font-weight:300;
		color:map-get($ui-colors, black);
		@include media-breakpoint-down(sm) {
			font-size:15px;
		}
	}
	.#{$namespace}quote-person {
		text-align:right;
		font-size:14px;
		color:map-get($ui-colors, primary);
		@include media-breakpoint-down(sm) {
			font-size:11px;
		}
	}
}