//
// _search
//
// ********************************************************************************************************************************


// Variables
// *************************************



// Base
// *************************************
.#{$namespace}search {
	position:relative;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	&-title {
		color:#fff;
		font-weight:300;
		font-size:36px;
	}
	&-wrap {
		position:relative;
		width:100%;
	}
	&-input {
		width:100%;
		height:35px;
		padding:5px;
		border:none;
		background:#fff;
		color:map-get($ui-colors, secondary);
		font-weight:300;
		font-size:18px;
	}
	&-button {
		position:absolute;
		top:0;
		right:0;
		height:35px;
	}

	@include media-breakpoint-down($ui-mobile-nav-breakpoint) {
		position:inherit;
	}
}