//
// _search
//
// ********************************************************************************************************************************


// Variables
// *************************************



// Base
// *************************************
.#{$namespace}search {
	position:relative;
	display:flex;
	justify-content:center;
	flex-direction:column;
	flex:1;
	@include media-breakpoint-down(sm) {
		align-items:center;
	}
	&-title {
		color:#fff;
		font-weight:300;
		font-size:36px;
		text-shadow:1px 1px 1px rgba(0,0,0,0.7);
		margin: 30px 0 20px 0;
		@include media-breakpoint-down($ui-mobile-nav-breakpoint) {
			font-size:24px;
		}
	}
	&-wrap {
		position:relative;
		width:100%;
	}
	&-input {
		box-sizing:border-box !important;
		width:100%;
		height:50px;
		padding:5px 20px;
		border:none;
		background:#fff;
		//color:map-get($ui-colors, secondary);
		color: #666;
		font-weight:300;
		font-size:22px;
		@include media-breakpoint-down(sm) {
			font-size:15px;
		}
	}
	&-button {
		height:50px;
		background:map-get($ui-colors, primary-medium);
		color:#fff;
		font-size:16px;
		@include media-breakpoint-down(sm) {
			position:relative;
			display:block;
			top:auto;
			right:auto;
			margin:10px auto 0 auto;
		}
	}
}