//
// _search
//
// ********************************************************************************************************************************


// Variables
// *************************************



// Base
// *************************************
.#{$namespace}search {
	position:relative;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	&-title {
		color:#fff;
		font-weight:300;
		font-size:36px;
		text-shadow:1px 1px 1px rgba(0,0,0,0.7);
	}
	&-wrap {
		position:relative;
		width:100%;
	}
	&-input {
		box-sizing:border-box !important;
		width:100%;
		height:50px;
		padding:5px 20px;
		border:none;
		background:#fff;
		color:map-get($ui-colors, secondary);
		font-weight:300;
		font-size:18px;
	}
	&-button {
		position:absolute;
		top:0;
		right:0;
		height:50px;
		background:map-get($ui-colors, primary-medium);
		color:#fff;
		font-size:16px;
	}
}