//
// _section
//
// ********************************************************************************************************************************
.#{$namespace}section {
	position:relative;
	padding-top:30px;
	padding-bottom:30px;
	&-before-number {
		padding-bottom:60px;
	}
	&-with-number {
		padding-top:60px;
		padding-bottom:60px;
	}
	&-title {
		margin:0 0 (2*$padding) 0;
		font-size:28px;
		color:#fff;
		font-weight:300;
		.#{$namespace}background-secondary-light & {
			color:map-get($ui-colors, black);
		}
		@include media-breakpoint-down(sm) {
			font-size:22px;
		}
	}
	&-intro {
		margin:0 0 (2*$padding) 0;
		font-size:18px;
		color:#fff;
		font-weight:300;
		@include media-breakpoint-down(sm) {
			font-size:14px;
		}
	}
	&-number {
		position:absolute;
		top:-35px;
		left:50%;
		display:flex;
		width:70px;
		height:70px;
		margin-left:-35px;
		align-items:center;
		justify-content:center;
		font-size:48px;
		font-weight:800;
		font-style:normal;
		border-radius:50%;
		background:#fff;
		.#{$namespace}background-primary & {
			color:map-get($ui-colors, primary);
		}
		.#{$namespace}background-primary-medium & {
			color:map-get($ui-colors, primary-medium);
		}
		.#{$namespace}background-primary-dark & {
			color:map-get($ui-colors, primary-dark);
		}
		.#{$namespace}background-primary-darker & {
			color:map-get($ui-colors, primary-darker);
		}
	}
}