//
// _social
//
// ********************************************************************************************************************************


// Variables
// *************************************



// Base
// *************************************
.#{$namespace}social {
	@extend %bulletless;
	display:flex;
	align-items:center;
	justify-content:center;
	li {
		margin-right:$padding;
		&:last {
			margin-right:0;
		}
	}
	a {
		position:relative;
		display:flex;
		align-items:center;
		justify-content:center;
		width:61px;
		height:61px;
		border-radius:50%;
		background:map-get($ui-colors, primary);
		transition:all 0.5s ease;
		.#{$namespace}icon {
			width:30px;
			height:30px;
			fill:#fff;
		}
		@include media-breakpoint-down(sm) {
			width:45px;
			height:45px;
			.#{$namespace}icon {
				width:20px;
				height:20px;
			}
		}

		&:hover {
			background-color: #FFF;

			.#{$namespace}icon {
				fill: map-get($ui-colors, black);
			}
		}
	}
}