//
// _tables
//
//
// ********************************************************************************************************************************

.#{$namespace}table-responsive {display:block; width:100%; min-height:.01%; overflow-x:auto;
    table {width:100%; max-width:100%;}
}