//
// _tip
//
// ********************************************************************************************************************************


// Variables
// *************************************



// Base
// *************************************
.#{$namespace}tip {
	position:relative;
	display:flex;
	align-items:center;
	margin-right:$padding;
	margin-left:$padding;
	margin-bottom:$padding;
	background:map-get($ui-colors, secondary-dark);
	border-radius:5px;
	box-shadow:1px 1px 1px rgba(0,0,0,0.4);
	transform:rotate(4deg);
	@include media-breakpoint-down(sm) {
		transform:rotate(3deg);
		margin-right:20px;
		margin-left:20px;
	}
	&-icon {
		svg {
			width:80px;
			height:80px;
			fill:#fff;
		}
	}
	p {
		margin:0;
		font-size:18px;
		font-weight:300;
		color:#fff;
		@include media-breakpoint-down(sm) {
			font-size:15px;
		}
	}

}