.typeahead__item {
	>a {
		position:relative;
		display:flex;
		align-items:center;
	
		.poster {
			padding: 0 5px;

			img {
				float: left;
				max-height:100px;
			}
		}

		.venue {
			padding: 0 5px;
		    text-align: center;
    		width: 100%;

    		.event_name {
    			display: block;
			    font-size: 16px;
    		}

    		.venue_name {
			    display: block;
		        margin-top: 5px;
    			font-size: 14px;
    		}
		}
	}
}

.typeahead__query {
	@include media-breakpoint-down(sm) {
		display: block !important;
	}
}

.typeahead__button {
	@include media-breakpoint-down(sm) {
		display: block !important;

		.showtix-search-button {
			display: block !important;
			width: 100%;
		}
	}
}