//
// _typography
//
// 
// ********************************************************************************************************************************
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
.#{$namespace}nunito {
	font-family: 'Lato', sans-serif;
}

.#{$namespace}title {
	display:block;
	margin:0 0 10px 0;
	font-size:24px;
	line-height:29px;
	color:map-get($ui-colors, broid-blue);
	font-weight:400;
}
.#{$namespace}paragraph {
	display:block;
	margin:0;
	font-size:32px;
	line-height:47px;
	color:map-get($ui-colors, black);
	font-weight:700;
	&-smaller {
		font-size:21px;
		line-height:27px;
	}
	&.#{$namespace}to-color-white {
		color:#fff;
	}
	.#{$namespace}title {
		margin-bottom:0;
	}
	& + .#{$namespace}button {
		margin-top:20px;
	}
}
.#{$namespace}subtitle {
	display:block;
	margin:0;
	font-size:21px;
	line-height:27px;
	color:map-get($ui-colors, broid-blue);
	font-weight:700;
}
.#{$namespace}regular {
	display:block;
	margin-top:0;
	font-size:16px;
	line-height:26px;
	color:map-get($ui-colors, dark-grey);
	font-weight:300;
	img[src*="check"] {
		width:25px;
		height:auto;
		margin-right:10px;
	}
}
.#{$namespace}link {
	font-size:16px;
	line-height:19px;
	color:map-get($ui-colors, broid-blue);
	font-weight:400;
	text-decoration:none;
}
a {
	&.#{$namespace}link { 
		&:hover {
			color:map-get($ui-colors, broid-blue-hover);
		}
	}
}

.#{$namespace}list-item {
	margin:0 0 15px 0;
	display:flex;
	align-items:center;
	font-size:21px;
	color:map-get($ui-colors, broid-blue);
	font-weight:400;
	text-decoration:none;
	img {
		width:25px;
		height:auto;
		margin-right:10px;
	}
}

.#{$namespace}cta {
	font-size:12px;
	color:#fff;
	background-color:map-get($ui-colors, dark-grey);
	font-weight:900;
}

.#{$namespace}highlight {
	padding:5px; 
	background-color:map-get($ui-colors, highlight);
}