//
// _typography
//
// 
// ********************************************************************************************************************************
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,800');
.#{$namespace}libre-franklin {
	font-family: 'Libre Franklin', sans-serif;
}